.page_whole{
 background-color:#94A78E;
 
}
.box_card{
  
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
	 background-color:#FFFFFF;
	
}
.player_box{
  background-color:#f0f0f0;	
}
.share_box{
  background-color:#f0f0f0;
}
header {
  text-align: center;
   padding: 0.4rem 0;  
}
header .headline{
   font-size:1em;
   	font-weight:700;
}
.attack_background_color{
  background-color:#F85662;
/*  background-color:#F85662;*/
   
}
.defend_background_color{
  background-color:#6CBAFD;
/*  background-color:#6CBAFD;*/
  
}
.fighter_background_color{
  background-color:#F7EE56;
/*  background-color:#F7EE56;*/
}

.attack_table_background_color{
border-left: solid 0.40rem #F87781;
   
}
.defend_table_background_color{
border-left: solid 0.40rem #88C6FD;
  
}



.box_header{
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
	display: table;
    height: 2.2rem;	
}
.box_title{
  font-size:1.2em;
  display: table-cell;
  vertical-align: middle;
}

.input_title{
  font-size:1.0em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}
.th_block_stun_difference{
  font-size:0.75em;
  vertical-align:middle!important;
  
}

th{
  font-size:0.97em;
  text-align:center


}
tr{
  text-align:center;
}
.small_text{
  font-size:0.85em;
}
.tr_th_left{
text-align: left;

}
.tr_th_right{
text-align: right;

}

.grace_ok{
  background-color:#008D5C;
}
.grace_ng{
  background-color:#CC4327;
}

.grace_label{
  color: #FFFFFF;
  border-radius:0.25rem;
  padding:0 0.4rem;
}

h1 {
  margin: 0;
  line-height: 1.2;
}
.select_box {

}


.radio-inline__input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.radio-inline__label {
	 text-align: center;
    display: inline-block;
    padding: 0.25rem 0.75rem;
    margin-right: 0.4rem;
    border-radius: 0.3rem;
    transition: all .1s;
}

.radio-inline__input + .radio-inline__label {
  background: #E1B6B6;
  color: #fff;
  text-shadow: 0 0 1px rgba(0,0,0,.7);
}
.radio-inline__input:checked + .radio-inline__label {
  background: #B54A4A;
  color: #fff;
  text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.modal{
  display:none;
  height:100vh;
  top:0;
  width:100%;
}
.modal_background{
   background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal_content{
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width:75%;
  height:100%;
	overflow: scroll;
}
.search_header{
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
	display: table;
    height: 4.2rem;	
	 width:100%;
	 background: #E1B6B6;
}
.fighter_search_text{
  padding:1rem;

}


body.fixed {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
}

.fighter_search_text:hover {
	background-color:#B8D9FF;
	cursor:pointer
}
/*
.fighter_search_text:active{
	background-color:#B8D9FF;
}*/

.caret_none{
	caret-color:transparent;
}

.result_paling {
    margin: 2em 0;

    background: #FFF;
    border: solid 0.1rem #e6e6fa;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

